body, html {
	width: 100%;
	height: 100%;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	margin: 0;
	padding: 0;
}

.main {
	background-color: lightblue;
	width: 100%;
	height: 100%;
	margin:0;
	display: flex;
	flex-direction: column;
}

.header, .footer {
	flex-grow: 0;
	flex-shrink: 0;
}

.content {
	flex-grow: 1;
	background-color: lightcyan;
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.content>* {
	border: 1px solid blue;
	flex-grow: 1;
}

.draw-grid {
	/* width: 400px;
	height: 400px; */
	border: 1px solid orange;
	display: flex;
	flex-direction: column;
	margin: auto;	
}

.canvas {
	display: flex;
	justify-content: center;
}

.grid-row {
	display: flex;
	flex-wrap: nowrap;
}

.grid-cell {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}

.grid-cell.on {
	background-color: brown;
}
